/*==========================================
                Colors
==========================================*/
/*==========================================
                Loop panel
==========================================*/
.loops {
  box-sizing: border-box;
  background-color: #263238;
  width: 700px;
  margin: 50px auto;
  height: 120px;
  padding: 20px;
  border-radius: 7px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around; }
  .loops .l-key {
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    border-radius: 7px;
    background-color: #37474f;
    box-shadow: 1px 1px 1px 2px black;
    padding: 10px;
    -webkit-webkit-user-select: none;
    -moz-webkit-user-select: none;
    -ms-webkit-user-select: none;
    user-select: none;
    cursor: pointer; }
  .loops .pressed {
    border: 2px solid #f48fb1;
    color: #f48fb1;
    box-shadow: none;
    filter: brightness(70%); }
    .loops .pressed h5 {
      color: #f48fb1; }
    .loops .pressed h6 {
      color: #f48fb1; }

/*==========================================
                Shorts panel
==========================================*/
.console {
  box-sizing: border-box;
  width: 700px;
  margin: auto;
  height: 400px;
  padding: 20px;
  border-radius: 7px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: #263238; }
  .console .c-key {
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    background-color: #37474f;
    margin: 10px;
    border-radius: 7px;
    box-shadow: 1px 1px 1px 2px black;
    padding: 10px;
    -webkit-webkit-user-select: none;
    -moz-webkit-user-select: none;
    -ms-webkit-user-select: none;
    user-select: none;
    cursor: pointer; }
  .console .pressed {
    border: 2px solid #18ffff;
    box-shadow: none;
    filter: brightness(70%); }
    .console .pressed h5 {
      color: #18ffff; }
    .console .pressed h6 {
      color: #18ffff; }

/*==========================================
            Keys' descriptions
==========================================*/
h5 {
  color: #fff;
  text-align: center;
  margin: 15px;
  font-size: 24px;
  font-weight: 800;
  font-family: 'Raleway', sans-serif; }

h6 {
  color: #fff;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  font-family: 'Raleway', sans-serif; }

/*==========================================
            Small screens
==========================================*/
@media only screen and (max-width: 680px) {
  .loops {
    width: 360px;
    height: 100px;
    padding: 10px;
    margin: 0 auto; }
    .loops .l-key {
      width: 50px;
      height: 50px;
      margin: 3px;
      padding: 5px; }
      .loops .l-key h5 {
        font-size: 20px;
        margin: 5px; }
  .console {
    width: 360px;
    height: 400px;
    padding: 10px; }
    .console .to-hide {
      display: none; }
    .console .c-key {
      width: 70px;
      height: 70px;
      margin: 3px; }
      .console .c-key h5 {
        margin-bottom: 6px; } }
